{% extends 'selia_registration/base.html' %}
{% load i18n %}

{% block title %}SELIA - {% trans 'User invited' %}{% endblock %}

{% block content %}
<div class="text-center p-2">
  <h3><i class="far fa-paper-plane fa-4x"></i></h3>
</div>
<p>
  {% blocktrans %}
    The invitation was succesfully sent!
  {% endblocktrans %}
</p>
{% if request.GET.next %}
<a href="{{ request.GET.next }}" class="btn btn-link text-primary btn-block">
  {% trans 'Done' %}
</a>
{% else %}
<a href="/" class="btn btn-link text-primary btn-block">
  {% trans 'Done' %}
</a>
{% endif %}
{% endblock %}
