{% extends 'selia_registration/base.html' %}
{% load selia_forms %}
{% load i18n %}

{% block title %}SELIA - Login{% endblock %}

{% block content %}
<form method="post" novalidate>
  {% csrf_token %}
  <button type="submit" class="btn btn-text btn-block">SELIA</button>
  <br />
  <div class="container-fluid w-100">
    {% bootstrap_form form.username %}
    {% bootstrap_form form.password %}
  </div>
  {% if form.errors %}
  <div class="container-fluid">
    {% for error in form.non_field_errors %}
    <p>
      <span class="row text-danger text-center">{{ error }}</span>
    </p>
    {% endfor %}
  </div>
  <a class="btn btn-text text-primary btn-block" href="{% url 'password_reset' %}">
    {% trans 'Recover you password' %}
  </a>
  {% endif %}
  <br />
  <button type="submit" class="btn btn-text text-primary btn-block">{% trans 'Enter' %}</button>
</form>
{% endblock %}
