{% extends 'selia_registration/base.html' %}
{% load i18n %}

{% block content %}
<h5 class="card-title text-center">{% trans 'Check your email' %}</h5>
<div class="text-center p-2">
  <h3><i class="far fa-paper-plane fa-4x"></i></h3>
</div>
<p>
  {% blocktrans %}
  We have sent an email with instructions on how to reset your password.
  {% endblocktrans %}
</p>
<p>
  {% blocktrans %}
  It should arrive shortly. If not, please make sure that you have input
  the correct address or check your spam directory.
  {% endblocktrans %}
</p>
<a href="javascript:history.back()" class="btn btn-link text-muted btn-block">
  {% trans 'Back' %}
</a>
{% endblock %}
