{% extends 'selia_templates/base.html' %}
{% load i18n %}
{% load selia_forms %}

{% load static %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'registration/css/accounts.css' %}">
{% endblock %}

{% block body %}
<div class="container mt-4">
  <h1 class="text-center logo my-4">
    <img src="{% static 'selia_templates/img/selia.png' %}" width="9%" />
  </h1>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card shadow">
        <div class="card-body">

          {# Display a form #}
          <form method="post" novalidate>
            <div class="text-center">
              <h3><i class="fa fa-lock fa-4x"></i></h3>
            </div>
            <button type="submit" class="btn btn-bimbo btn-block">
              {% trans 'Forgot your password?' %}
              <br />
              {% trans 'You can recover it here' %}
            </button>
            <br />
            {% csrf_token %}
            {{ form | selia_form }}
            <button type="submit" class="btn btn-bimbo btn-block">{% trans 'Recover you password' %}</button>
          </form>
        </div>
      </div>
      <div class="text-center py-2">
        <small>
          <a href="javascript:history.back()" class="btn btn-link text-muted">{% trans 'Back' %}</a>
        </small>
      </div>
    </div>
  </div>
</div>
{% endblock %}
