{% extends 'selia_templates/base.html' %}
{% load static %}
{% load i18n %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'registration/css/accounts.css' %}">
{% endblock %}

{% block body %}
<div class="container mt-4">
  <h1 class="text-center logo my-4">
    <img src="{% static 'selia_templates/img/selia.png' %}" width="9%" />
  </h1>
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card shadow">
        <div class="card-body">
          <p>
            {% blocktrans %}
            We have sent the instructions to reset your password by email.
            {% endblocktrans %}
          </p>
          <p>
            {% blocktrans %}
            It should arrive shortly. If not, please make sure that you have input the correct address or check your spam directory.
            {% endblocktrans %}
          </p>
        </div>
      </div>
      <div class="text-center py-2">
        <small>
          <a href="javascript:history.back()" class="btn btn-link text-muted">{% trans 'Back' %}</a>
        </small>
      </div>
    </div>
  </div>
</div>
{% endblock %}
