{% extends 'selia_registration/base.html' %}
{% load selia_forms %}
{% load i18n %}


{% block content %}
{% if validlink %}
  <h3>{% trans 'Change your password' %}</h3>
  <div class="col">
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        {% bootstrap_form field %}
      {% endfor %}
      <button type="submit" class="btn btn-text text-primary btn-block">
        {% trans 'Change password' %}
      </button>
    </form>
  </div>
{% else %}
  <div class="text-center">
    <h3><i class="fas fa-exclamation fa-4x p-2"></i></h3>
  </div>
  <div class="col">
    <p>
      {% blocktrans %}
      This link is invalid. Please restart the password recovery process.
      {% endblocktrans %}
    </p>
  </div>
 <a href="{% url 'password_reset' %}" class="btn btn-text text-primary btn-block">
   {% trans 'Back'%}
 </a>
{% endif %}
{% endblock %}
