{% extends 'selia_templates/base.html' %}
{% load selia_forms %}
{% load i18n %}
{% load static %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'registration/css/accounts.css' %}">
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <h1 class="text-center logo my-4">
      <img src="{% static 'selia_templates/img/selia.png' %}" width="9%"  />
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card shadow">
          <div class="card-body">
            {% if validlink %}
                <h3>{% trans 'Change your password' %}</h3>
                <form method="post">
                  {% csrf_token %}
                  {{ form | selia_form }}
                  <button type="submit" class="btn btn-bimbo btn-block">
                    {% trans 'Change password' %}
                  </button>
                </form>
              {% else %}
              <p>
                {% blocktrans %}
                This link is invalid. Please restart the password recovery process.
                {% endblocktrans %}
             </p>
          {% endif %}
          </div>
        </div>
        <div class="text-center py-2">
          <small>
            <a href="javascript:history.back()" class="btn btn-link text-muted">{% trans 'Back' %}</a>
          </small>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
