{% extends 'selia_registration/base.html' %}
{% load i18n %}
{% load selia_forms %}

{% block content %}
<div class="text-center">
  <h3><i class="fa fa-lock fa-4x"></i></h3>
  <p>
    {% trans 'Forgot your password?' %}
    <br />
    {% trans 'You can recover it here' %}
  </p>
</div>
<form method="post" novalidate>
  <div class="col">
    {% csrf_token %}
    {% bootstrap_form form.email %}
  </div>
  <a href="javascript:history.back()" class="btn btn-link text-muted card-link">
    {% trans 'Back' %}
  </a>
  <button type="submit" class="btn btn-text text-primary card-link">
    {% trans 'Recover you password' %}
  </button>
</form>
{% endblock %}
